.header {
    background-color: #fdf3e7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 120px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0;
    font-size: 3em;
}

.header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 0.5em;
    margin-bottom: 0;
}

/* Center the placeholder text in the match dropdown */
#match-dropdown .Select-placeholder {
    text-align: center;
}

/* Center the dropdown menu items */
.Select-menu-outer, .Select-menu {
    text-align: center;
}

/* Decrease the size of player dropdowns */
#player1-dropdown, #player2-dropdown {
    width: 40% !important;
}

/* Center the placeholder text and selected text in player dropdowns */
#player1-dropdown .Select-placeholder, #player2-dropdown .Select-placeholder,
#player1-dropdown .Select-value-label, #player2-dropdown .Select-value-label {
    text-align: center;
}

/* Arrange player dropdowns side by side */
.dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.dropdown {
    flex: 1;
    margin: 0 10px;
}
